<!DOCTYPE html>
<html  ng-app="myApp" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

    <head lang="ru">
        <title>Демо Формулы ИС Биллинг</title>
    </head>

    <body ng-controller="myCtrl">
        <div class="container" layout:fragment="content">
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="s12">
                            <label for="txtFormula">Введите формулу</label>
                            <textarea id="txtFormula" ng-model="formula" ui-codemirror="true" ui-codemirror-opts="editorOptions"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s3">
                            <input id="startDate" type="text"  ng-model="context.startDate" />
                            <label for="startDate" th:text="|Дата с|">Дата с</label>
                        </div>

                        <div class="input-field col s3">
                            <input id="endDate" type="text"  ng-model="context.endDate" />
                            <label for="endDate" th:text="|Дата по|">Дата с</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="s12" style="margin-top: 5px;">
                            <a id="btnCalc" class="waves-effect waves-light btn" ng-click="myFunc()">
                                <i class="material-icons left">cloud</i>Вычислить
                            </a>

                            <ul class="collection with-header" ng-show="data">
                                <li class="collection-header"><h4>Результат</h4></li>
                                <li class="collection-item">{{data.doubleVal}}</li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <script layout:fragment="script">
            var app = angular.module('myApp', ['ui.codemirror']);

            app.config(function ($httpProvider) {
                $httpProvider.defaults.headers.common["Accept"] = "application/json;charset=utf-8";
            });

            app.controller('myCtrl', function($scope, $http ) {
                $scope.context = {
                }

                $scope.editorOptions = {
                    lineWrapping : true,
                    lineNumbers: true,
                    mode: 'xml',
                    matchTags: true
                };

                $scope.myFunc = function() {
                    $scope.data = null;
                    $scope.context.contentBase64 = window.btoa(unescape(encodeURIComponent($scope.formula)));

                    $http.post("/rest/calc/text/", $scope.context, { headers: {'Content-Type': 'application/json;charset=utf-8' } })
                        .then(function (response) {
                            $scope.data = response.data;
                            console.log(response.data);
                        });
                };
            });
        </script>
    </body>
</html>