<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

    <head lang="ru">
        <title>Демо Формулы ИС Биллинг</title>
    </head>

    <body>
        <div class="container" layout:fragment="content">
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="textarea1" class="materialize-textarea" rows="10"></textarea>
                            <label for="textarea1">Введите формулу</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>